.zt-btn {
    border-radius: 3px;
    border: 0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    &:focus, &:hover, &:active {
        outline: none;
    }
}
.zt-btn-full {
    width: 100%;
}
.zt-compose-btn {
    padding: 17px;
    margin-top: 40px;
    background-color: $base-red;
}
.nav-ico {
    width: 20px;
    float: left;
    margin-right: 15px;
}
.text-fade {
    color: $fade-grey;
    font-weight: 600;
}
.text-light {
    font-weight: 400;
    color: $light-grey;
}
.text-lg {
    font-size: 2.6em;
}
.text-sm {
    font-size: 15px;
}
.label-ico {
    img {
        width: 12px;
    }
}
.label-ico-right {
    float: right;
}
.zt-rdo-check {
    position: absolute;
    top: 15px;
    width: 20px;
    height: 20px;
    border: 2px solid red;
    border-radius: 20px;
    &::before {
        position: absolute;
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 14px;
        top: 2px;
        left: 2px;
    }
}
.lable-rdos {
    li {
        label {
            display: block;
            padding: 15px;
            color: $light-grey;
            position: relative;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                background-color: $fade-grey;
                color: #FFFFFF;
            }
            input[type=radio] {
                visibility: hidden;
                margin-right: 15px;
                &:checked {
                    &~ .check.check-primary::before {
                        background-color: $base-primary;
                    }
                    &~ .check.check-success::before {
                        background-color: $base-success;
                    }
                    &~ .check.check-error::before {
                        background-color: $base-error;
                    }
                    &~ .check.check-warning::before {
                        background-color: $base-warning;
                    }
                }
            }
            .check {
                @extend .zt-rdo-check;
            }
            .check.check-primary  {
                border-color: $base-primary;
            }
            .check.check-warning {
                border-color: $base-warning;
            }
            .check.check-error {
                border-color: $base-error;
            }
            .check.check-success {
                border-color: $base-success;
            }
        }
    }
}
.zt-input-grp {
    .zt-form-input {
        width: 100%;
    }
}
/** table **/
.zt-data-table {
    max-height: 610px;
    overflow-y: scroll;
    padding-right: 10px;
    tbody {
        tr {
            td {
                border: 0;
            }
        }
    }
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    -webkit-border-radius: 5px;
    background: none;
    border-radius: 5px;
}
::-webkit-scrollbar-track:hover{
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $dark-grey;
    -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.3);
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}
td, th {
    padding: 0;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}
.zt-inbox-table h4 {
    margin: 0;
}
.page-header-nav {
    padding-top: 20px;
    text-align: right;
}
.btn-hamburg {
    background-color: transparent;
}
.zt-ham-line {
    width: 30px;
    height: 3px;
    background-color: #444;
    display: block;
    margin-bottom: 5px;
    position: relative;
}
.btn-hamburg {
    .ham-line-1, .ham-line-2 {
        transition: all 0.3s ease;
    }
}
.btn-hamburg.ham-open {
    .ham-line-1 {
        transform: rotate(45deg);
        top: 4px;
    }
    .ham-line-2 {
        transform: rotate(-45deg);
        bottom: 4px;
    }
    .ham-line-3 {
        display: none;
    }
}
