@media (max-width: 1024px) {
    .zt-sidebar-col {
        position: absolute;
        left: -250px;
        transition: all 0.3s ease;
    }
    .zt-page-col {
        width: 100%;
        margin: 0;
    }
    .zt-page {
        padding: 30px;
        padding-bottom: 0;
    }
}
@media (max-width: 768px) {
    .zt-page-header {
        .zt-search-box {
            float: right;
            width: auto;
        }
    }
}
@media (max-width: 425px) {
    .zt-page-header {
        .zt-search-box {
            .zt-input-grp {
                input[type=text] {
                    height: 41px;
                }
                .input-grp-ico {
                    padding: 6px;
                    img {
                        width: 16px;
                    }
                }
                .zt-form-input {
                    width: 120px;
                }
            }
        }
    }
    .zt-dtnav-icos {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
    .zt-dtnav-filter {
        float: none;
        text-align: center;
    }
    table {
        td:not(.td-prof-img) {
            min-width: 180px;
        }
    }
}
@media (min-width: 1025px) {
    .hidden-large {
        display: none;
    }
}
