.zt-sidebar-col {
    padding: 0;
    z-index: 1024;
    float: left;
    position: fixed;
    height: 100%;
}
.zt-sidebar {
    width: 250px;
    background-color: #1b2224;
    overflow-y: scroll;
    height: 100%;
}
.navbar-top {
    position: relative;
    padding: 40px 25px;
    background: url(../images/nav-top-bg.jpg);
    background-size: cover;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(27, 34, 36, 0.9);
        z-index: 1;
    }
}
.zt-compose {
    position: relative;
    z-index: 2;
}
.navbar-menu {
    border-bottom: 1px solid $fade-grey;
    li {
        a {
            text-decoration: none;
            color: $light-grey;
            padding: 18px 25px;
            display: block;
            transition: all 0.3s ease;
            font-weight: 600;
            &:hover {
                background-color: $fade-grey;
                color: #FFFFFF;
            }
        }
        a.nav-active {
            background-color: #FFFFFF;
            color: $dark-grey;
        }
    }
}
.navbar-labels {
    height: 400px;
    h4 {
        padding: 0 20px;
    }
}
.zt-sidebar-col.open {
    left: 0;
}
