$base-font: 'PT Sans', sans-serif;
$base-font-color: #444;
$dark-grey: #1b2224;
$light-grey: #647174;
$v-light-grey: #afbdbf;
$fade-grey: #37454a;
$base-red: #d0503a;
$dark-red: #d04b2f;
$base-black: #070808;
$fade-black: #717a7b;
$base-primary: #3ab1cf;
$base-success: #46bf7b;
$base-error: #fd6922;
$base-warning: #fda637;
